@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.carousel {
  @include flex2;
  position: relative;
  &-items {
    @include flex1;
    overflow: hidden;
    position: relative;
    transform: translateX(-40%)
  }
  &-item {
    min-width: 100%;
    width: 100%;
    @include padding(20px, 80px);
    flex: 0 0 100%;
    position: relative;
  }
  &-button {
    position: absolute;
    top: 0;
    height: 100%;
    @include padding(0, 20px);
    &-prev {
      background: linear-gradient(to left, #ffffff00, rgb(145, 145, 145, 0.5));
      left: 0;
      z-index: 2;
    }
    &-next {
      background: linear-gradient(
        to right,
        #ffffff00,
        rgba(145, 145, 145, 0.5)
      );
      right: 0;
      z-index: 2;
    }
  }
}
